<!--begin::Signup-->
<div class="login-form login-signup">
    <!--begin::Form-->
    <form
            class="form"
            novalidate="novalidate"
            id="kt_login_signup_form"
            (ngSubmit)="submit()"
    >
        <!--begin::Title-->
        <div class="pb-13 pt-lg-0 pt-5">
            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
                تخصص‌های خود را از بین موارد زیر انتخاب نمایید:
            </h3>
        </div>
        <!--end::Title-->

        <!--begin::Form group-->
        <div class="form-group">
            <div class="row pt-5">
                <div class="col-sm-6">
                    <mat-slide-toggle>
                        <span>خانواده</span>
                    </mat-slide-toggle>
                </div>
                <div class="col-sm-6">
                    <mat-slide-toggle>
                        <span>کیفری</span>
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-sm-6">
                    <mat-slide-toggle>
                        <span>ملکی</span>
                    </mat-slide-toggle>
                </div>
                <div class="col-sm-6">
                    <mat-slide-toggle>
                        <span>قراردادها</span>
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-sm-6">
                    <mat-slide-toggle>
                        <span>وصول مطالبات</span>
                    </mat-slide-toggle>
                </div>
                <div class="col-sm-6">
                    <mat-slide-toggle>
                        <span>دیوان عدالت اداری</span>
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-sm-6">
                    <mat-slide-toggle>
                        <span>انحصار وراثت</span>
                    </mat-slide-toggle>
                </div>
                <div class="col-sm-6">
                    <mat-slide-toggle>
                        <span>روابط کار و کارگری</span>
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-sm-6">
                    <mat-slide-toggle>
                        <span>بیمه</span>
                    </mat-slide-toggle>
                </div>
                <div class="col-sm-6">
                    <mat-slide-toggle>
                        <span>داوری</span>
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
        <!--end::Form group-->

        <!--begin::Form group-->
        <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
            <button
                    type="submit"
                    id="kt_spec_submit"
                    class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
            >
                ثبت و ادامه
            </button>
        </div>
        <!--end::Form group-->
    </form>
    <!--end::Form-->
</div>
<!--end::Signup-->

