<div class="card card-custom card-stretch gutter-b">
  <!-- Header -->
  <div class="card-header border-0 mt-4">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark"
        >لیست کارها</span
      >
      <span class="text-muted mt-3 font-weight-bold font-size-sm"
        ></span
      >
    </h3>
  </div>
  <!-- Body -->
  <div class="card-body pt-8">
    <!--begin::Item-->
    <div class="d-flex align-items-center mb-10">
      <!--begin::Symbol-->
      <div class="symbol symbol-40 symbol-light-primary mr-5">
        <span class="symbol-label">
          <span
            [inlineSVG]="'./assets/media/svg/icons/Communication/Call.svg'"
            class="svg-icon svg-icon-lg svg-icon-primary"
          ></span>
        </span>
      </div>
      <!--end::Symbol-->

      <!--begin::Text-->
      <div class="d-flex flex-column font-weight-bold">
        <a class="text-dark text-hover-primary mb-1 font-size-lg cursor-pointer"
          >مشاوره تلفنی</a
        >
<!--        <span class="text-muted">در صف انتظار: 2 | اتمام یافته: 1 | کل: 3</span>-->
      </div>
      <!--end::Text-->
    </div>
    <!--end::Item-->

    <!--begin::Item-->
    <div class="d-flex align-items-center mb-10">
      <!--begin::Symbol-->
      <div class="symbol symbol-40 symbol-light-warning mr-5">
        <span class="symbol-label">
          <span
            [inlineSVG]="'./assets/media/svg/icons/Communication/Chat6.svg'"
            class="svg-icon svg-icon-lg svg-icon-warning"
          ></span>
        </span>
      </div>
      <!--end::Symbol-->

      <!--begin::Text-->
      <div class="d-flex flex-column font-weight-bold">
        <a
          class="text-dark-75 text-hover-primary mb-1 font-size-lg cursor-pointer"
          >مشاوره آنلاین</a
        >
<!--        <span class="text-muted">در صف انتظار: 2 | اتمام یافته: 0 | کل: 2</span>-->
      </div>
      <!--end::Text-->
    </div>
    <!--end::Item-->

    <!--begin::Item-->
    <div class="d-flex align-items-center mb-10">
      <!--begin::Symbol-->
      <div class="symbol symbol-40 symbol-light-success mr-5">
        <span class="symbol-label">
          <span
            [inlineSVG]="
              './assets/media/svg/icons/Communication/Chat5.svg'
            "
            class="svg-icon svg-icon-lg svg-icon-success"
          ></span>
        </span>
      </div>
      <!--end::Symbol-->

      <!--begin::Text-->
      <div class="d-flex flex-column font-weight-bold">
        <a class="text-dark text-hover-primary mb-1 font-size-lg cursor-pointer"
          >ثبت پرسش</a
        >
<!--        <span class="text-muted">پاسخ داده شده: 3 | کل: 3</span>-->
      </div>
      <!--end::Text-->
    </div>
    <!--end::Item-->

    <!--begin::Item-->
    <div class="d-flex align-items-center mb-10">
      <!--begin::Symbol-->
      <div class="symbol symbol-40 symbol-light-danger mr-5">
        <span class="symbol-label">
          <span
            [inlineSVG]="'./assets/media/svg/icons/Communication/Clipboard-list.svg'"
            class="svg-icon svg-icon-lg svg-icon-danger"
          ></span>
        </span>
      </div>
      <!--end::Symbol-->

      <!--begin::Text-->
      <div class="d-flex flex-column font-weight-bold">
        <a class="text-dark text-hover-primary mb-1 font-size-lg cursor-pointer"
          >مشاهده سوابق درخواست</a
        >
<!--        <span class="text-muted">پیگیری درخواست‌های پیشین</span>-->
      </div>
      <!--end::Text-->
    </div>
    <!--end::Item-->
  </div>
</div>
