<div id="preloader">
    <!-- <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div> -->
</div>
<!-- Loader -->

<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky bg-white">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" href="index.html">
                <!-- <img src="images/logo-dark.png" height="24" alt=""> -->
                LOGO
            </a>
        </div>                 
        <div class="buy-button">
            <a href="https://www.rtl-theme.com/?p=133270" target="_blank">
                <div class="btn btn-primary">دریافت برنامه </div>
            </a>
        </div><!--end login button-->


        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu">
                <li><a href="/home" class="sub-menu-item">صفحه اصلی </a></li>
        <li>
          <a href="/about" class="sub-menu-item">درباره ما </a>
        </li>
        <li>
          <a href="/contact-us" class="sub-menu-item">تماس با ما </a>
        </li>
            </ul><!--end navigation menu-->
            
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->

<!-- Hero Start -->


<!-- Shape Start -->
<div class="position-relative mt-100">
    <div class="shape overflow-hidden" style="color: #eef0f8;">
        <svg class="bg-white" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->

<!-- About Start -->
<section class="section">
    <div class="container">
        <div class="section-title ms-lg-4">
            <h4 class="title mb-4">درباره ما</h4>
            <p class="text-muted">شروع به کار با <span class="text-primary fw-bold"> لنـدریـک  </span> که می تواند هر آنچه را که شما برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن نیاز دارید فراهم کند. متن ساختگی متنی است که در صنعت نشر یا طراحان وب برای اشغال فضایی استفاده می شود که بعداً با محتوای واقعی پر خواهد شد. این مورد زمانی الزامی است که مثلاً متن نهایی هنوز در دسترس نیست. متون ساختگی از قرن شانزدهم مورد استفاده حروفچینی ها قرار گرفته اند.</p>
            <div class="text-center">
                <a href="javascript:void(0)" class="btn btn-primary mt-3 mrgin-auto">دریافت برنامه <i class="uil uil-angle-left-b"></i></a>
            </div>
        </div>
    </div><!--end container-->

</section><!--end section-->
<!-- About End -->

<!-- Team Start -->
<section class="section bg-light">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h4 class="title mb-4">همه چیز را در مورد خود ببینید کارمند در یک مکان.</h4>
                    <p class="text-muted para-desc mx-auto">شروع به کار با <span class="text-primary fw-bold"> لنـدریـک  </span> که می تواند هر آنچه را که شما برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن نیاز دارید فراهم کند.</p>
                
                    <div class="mt-4">
                        <a href="javascript:void(0)" class="btn btn-primary mt-2 me-2">اکنون شروع کنید</a>
                        <a href="javascript:void(0)" class="btn btn-outline-primary mt-2">رایگان امتحان کنید</a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Team End -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <a href="#" class="logo-footer">
                    <!-- <img src="images/logo-light.png" height="24" alt="">
                     -->LOGO
                </a>
                <p class="mt-4">کار با لنـدریــک را شروع کنید که می تواند همه چیزهایی را که برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن نیاز دارید فراهم کند.</p>
                <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                </ul><!--end icon-->
            </div><!--end col-->
            
            <div class="col-lg-6 col-md-12 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="text-light footer-head">شرکت </h5>
                <ul class="list-unstyled footer-list d-flex mt-4">
                    <li class="mx-2"><a href="page-aboutus.html" class="text-foot"><i class="uil uil-angle-left-b me-1"></i> درباره ما </a></li>
                    <li class="mx-2"><a href="page-contact-two.html" class="text-foot"><i class="uil uil-angle-left-b me-1"></i> تماس با ما </a></li>
                </ul>
            </div><!--end col-->
            

            
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
